#------------------------------------------------------------------------------
	
#  MC56F825x initialization file for flash
#  Freescale sample code
	
#------------------------------------------------------------------------------
# see below for version history 
#------------------------------------------------------------------------------
# NOTE: 56F837xx does not have EMI 
	
mcu mc56f83789
flash_module ftfe
core hawkv3
	
# disable COP while flashing
writexmem16 0x00e320 0x0002 0
	
# Alternative Launch Sequence (ALS)
# with this config command, debugger uses different launch sequence 
# allowing startup code to reset hfmclkd 
# see 3xx startup code for related instruction line
# if you want to turn off ALS, please comment out following line
# and also comment out the related ALS instruction in startup code
	
# enable internal memory pmem flash is 0 to 7fff, or 64kb 32kw
	
set_hfm_base              0x1c780
set_hfm_config_base       0x200
	
# faster downloads via on-board programmer
#-------------------------------------------
	
# 01x shared RAM and on-board programmer notes:
# we put the programmer high as we can to avoid overwrite of program
# by data initialization into the same shared memory in the case of
# HSST CCS-driven download (on-board programmer does both flash and RAM).

# if data initialization does overwrite on-board programmer
# then turn off these programmer directives by commenting out
# these three directives:

# p-ram from 8000 to 8fff for 8KB = 4KW
# used by both debugger-driven and HSST CCS-driven on-board program
set_hfm_programmer_base   0x63000   # shared p-ram
	
	
# these next directives are used when debugger does fast download
# not used for the HSST CCS-driven download (fastest)
	
set_hfm_prog_buffer_base  0x1E000   # mirrored shared x-ram
set_hfm_prog_buffer_size  0x800     # buffer from 8000 to 87ff
	
# add_hfm_unit  startAddr endAddr bank numSectors pageSize progMem boot interleaved
# ------------------------------------------------------------------------------------
add_hfm_unit     0x000000  0x01FFFF  0     128        1024    	1      0       0
	
	
# if you want to verify flash
# please uncomment the following line
# set_hfm_verify_program 1
	
# if you want to unlock the flash everytime you connect, 
# please uncomment the following line
#unlock_flash_on_connect 1